{% for c in site.collections %}
    {% if c.label == page.collection %}
        {% assign myCollection = c %}
    {% endif %}
{% endfor %}


{% for p in myCollection.docs %}
{% if forloop.index > 0 %}
{% assign len = unsorted_pages.size %}
{% assign unsorted_pages[len] =  p %}
{% endif %}
{% endfor %}

{% assign sorted_pages = myCollection.docs %}
{% assign p_count = myCollection.docs | size %}

{% assign currPageIndex = -1 %}
{% for p in myCollection.docs %}
{% if p.title == page.title  %}
{% assign currPageIndex = forloop.index0 %}
{% break %}
{% endif %}
{% endfor %}

{% if currPageIndex >= 0 %}
{% assign prevIndex = currPageIndex | minus: 1 %}
{% if prevIndex < 0 %}
{% assign prevIndex = prevIndex | plus : p_count %}
{% endif %}

{% assign nextIndex = currPageIndex | plus: 1 %}
{% if nextIndex >= p_count %}
{% assign nextIndex = nextIndex | minus : p_count %}
{% endif %}

{% for p in myCollection.docs %}
{% if forloop.index0 == prevIndex %}
{% assign prevURL = p.url %}
{% assign prevTitle = p.title %}
{% endif %}
{% if forloop.index0 == nextIndex %}
{% assign nextURL = p.url %}
{% assign nextTitle = p.title %}
{% endif %}
{% endfor %}
{% endif %}


{% assign prevTitle = prevTitle | truncate: 20 %}
{% assign nextTitle = nextTitle | truncate: 20 %}


<footer class="site-footer">
    {% if myCollection %}
    <div class="footer-nav">
    {% if page.title.size > 0  and p_count > 1 %}
        {% if prevTitle.size > 0 %}
            <div class ="prevLinks">
                <a href="{{ prevURL }}">◀︎ {{ prevTitle }}</a>
            </div>
        {% else %}
        <div class ="prevLinks"><p></p></div>
        {% endif %}
        {% if nextTitle.size > 0 %}
            <div class ="nextLinks">
                <a href="{{ nextURL }}">{{ nextTitle }} ▶︎</a>
            </div>
        {% else %}
            <div class ="nextLinks"><p></p></div>
        {% endif %}
    {% endif %}
    <br/>
    <br/>
    {% if page.collection %}
    {% assign toc = "/{{ page.collection }}/index.html" %}
    {% else %}
    {% assign toc = "/" %}
    {% endif %}

  <a href={{ toc }}>Table of Contents</a> | <a href="/editor.html" target="_blank">Interactive Editor</a> <!-- | <a href="https://github.com/russellcameronthomas/riskmodels" id="github-edit-link">Edit on Github</a> -->

  </div>
    <br />
  {% endif %}
    {% if myCollection %}
    <a  href="/" class="home">
       <img class="home-icon" src="{{ site.baseurl }}/assets/img/home-icon.png">
      </a>
    {% endif %}
 
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="vertical-align:middle;line-height:31px;">
    <img alt="Creative Commons License" style="border-width:0;vertical-align: middle;max-width: 89px; max-height:31px;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />  2016. Russell C. Thomas</a>
<br /><span style="font-weight: normal;font-size:60%;color: #bbb;">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></span>.
</footer>

<script type="text/javascript">
  $("#github-edit-link").attr("href", github_page_url("{{ page.url }}"))
</script>
