{% assign sorted_pages = site.pages | sort:"name" %}


{% for p in sorted_pages %}
{% if p.name == page.name %}
{% assign currPageIndex = forloop.index %}
{% break %}
{% endif %}
{% endfor %}

{% assign prevIndex = currPageIndex | minus: 1 %}
{% assign nextIndex = currPageIndex | plus: 1 %}

{% for p in sorted_pages %}
{% if forloop.index == prevIndex %}
{% assign prevURL = p.url %}
{% assign prevTitle = p.title %}
{% endif %}
{% if forloop.index == nextIndex %}
{% assign nextURL = p.url %}
{% assign nextTitle = p.title %}
{% endif %}
{% endfor %}



<header class="site-header">
    <div>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div>
        {% if page.title.size > 0 %}
        {% if prevTitle.size > 0 %}
            {% assign prevTitle = prevTitle | truncate: 35 %}
                <div class ="prevLinks">
                    <a href="{{ prevURL }}">◀︎ {{ prevTitle }}</a>
                </div>
        {% else %}
            <div class ="prevLinks"><p></p></div>
        {% endif %}
        
        {% if nextTitle.size > 0 %}
            {% assign nextTitle = nextTitle | truncate: 35 %}
                <div class ="nextLinks">
                    <a href="{{ nextURL }}">{{ nextTitle }} ▶︎</a>
                </div>
        {% else %}
                <div class ="nextLinks"><p></p></div>
        {% endif %}
    {% endif %}
    </div>
</header>
