html {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    color: #fff;
    background-color: #110030; /*#0a0026;/*#0f0035; /*#203; #333333;*/
}

@media screen {
    html {
        font-family: Merriweather, Georgia, 'Times New Roman', serif;
        color: #fff;
        background-color:  #110030; /*#0a0026;/*#0f0035;/*#333333;*/
        }
    .page-break	{ display: none; }
}

@media screen and (max-device-width: 480px) {
   .katex { font-size: 15px !important; }
}


@media print {
  * {
    box-shadow: none !important;
  }

    body {
        background: white;
        font-size: 12px;
        font-family: Garamond, 'Times New Roman', serif;
    }
    
    #menu {
        display: none;
    }
    
    #wrapper,
    
    #content {
        width: auto; margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
    }
    .page-content-wrapper{
    background-image: none;
    }
    #maincontent, #maincontent2 {
     
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    /*
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    -webkit-box-shadow:  0px 0px 0px 0px #FFFFFF;
    -moz-box-shadow:  0px 0px 0px 0px #FFFFFF;
    */
    
    }
    .page-break	{ display: block; page-break-before: always; }
    .site-header {
        display: none;
    }
    .site-title {
        display: none;
    }
    .home {
        display: none;
    }
    header{
        display: none;
    }
    .search {
    display: none;
    }
    .search-wrapper {
    display: none;
    }
    img{
        width:45% !important;
        height:auto;
        page-break-inside: avoid !important;
    }
    .katex { font-size: 12px !important; }
    h1 {
        font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 160%;
        color: #444;
        margin: 1em 0 1.5em 0;
        line-height: 1.0;
        text-align: left;
    }
    h1 .blog-title {
        margin: 1em 0 0 0 !important;
        line-height: 1;
    }
    
    h2 {
        font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
        font-size: 140%;
        letter-spacing: 1px;
        margin: 1.5em 0 1em 0;
        text-align: left;
    }
    
    h3 {font-family: 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
        font-size: 120%;
        font-weight: lighter;
        margin: 1.5em 0 1em 0;
        /*font-style: italic;*/
        text-align: left;
    }
    
    .wpedit button {
        display:none;
    }
    
    .wpedit {
        font-size : 10px;
    }
    .footer img {
        width : 50px;
        height : auto;
    }

    .footer-nav {
        display:none;
        
    }
}

h1 {
    font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    letter-spacing: -0.8px;
    font-weight: bold;
    font-size: 160%;
    color: #444;
    margin: 1em 0 1.5em 0;
    line-height: 1.0; /* 1.5; */
    text-align: center;
}

.blog-title {
        margin: 1em 0 0 0 !important;
        line-height: 1;
    }

h2 {
    font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    letter-spacing: -0.4px;
    font-size: 140%;
    margin: 1.5em 0 1em 0;
    text-align: left;
}

h3 {font-family: 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 120%;
    margin: 1.5em 0 1em 0;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}


.highlight {
    font-size: 80%;
}

.site-title {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
    display: block;
    font-size: 130%; /*120%;*/
    font-weight: bold;
    color: #EEEEBB;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 5;
}


.meritology-title {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
    display: block;
    font-size: 130%; /*120%;*/
    font-weight: bold;
    color: #EEEEBB;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 5;
    margin: auto;
    vertical-align: middle;
}

.meritology-title img {
    opacity: 100%;
    width: 80%;
    padding-top: 10px;
    margin-bottom: -18px;
    max-height: 90px;
    max-width: 350px;
    display: inline-block;
    vertical-align: -30%;
    
}

.meritology {
    font-family: 'Copperplate', 'Copperplate Gothic Light', fantasy;
    font-size: 140%;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
    color : #FFF;
    display: inline-block;
}

.annotate {
    font-family: 'Tahoma', 'Geneva', sans-serif;
    font-size: 95%;
    line-height: 100%;
    font-style: italic;
    color: #AAAAAA;
}

.work_in_progress {
    font-family: 'Kalam', cursive;
    padding-top:15px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    background: #F6F6F6;
    background-repeat: no-repeat;
    background-image: url("/assets/img/under_construction_icon2b.png");
    background-size: 30px 25px;
    background-position: 8px 4px;
    box-shadow: inset 0px 5px 15px 0px #DDDDDD;
    -webkit-box-shadow: inset 0px 0px 30px 0px #DDDDDD;
    -moz-box-shadow: inset 0px 0px 30px 0px #DDDDDD;
    border-style: dashed;
    border-width: 5px;
    border-color: #FF5522;
    font-size: 105%;
}

.work_in_progress h1,.work_in_progress h2{
    font-family: 'Kalam', cursive;
    font-weight: bolder;
}
.work_in_progress h3 {
    font-family: 'Kalam', cursive;
    font-style: italic;
}

.work_in_progress .note {
    font-family: 'Kalam', cursive;
}

.work_in_progress em {
    font-style: italic;
}

.status {
    float:left;
    min-width: 200px;
    font-family: 'Tahoma', 'Geneva', sans-serif;
    font-size: 70%;
    line-height: 100%;
    font-style: italic;
    color: #AAAAAA;
    text-align: left;
    display: block;
    padding-bottom: 5px;
}

.last_modified {
    font-family: 'Tahoma', 'Geneva', sans-serif;
    min-width: 200px;
    font-size: 70%;
    line-height: 100%;
    font-style: italic;
    color: #AAAAAA;
    text-align: right;
    display: block;
    padding-bottom: 5px;
}

a.site-title:hover {
    text-decoration: underline
}


.site-header {
    opacity: 1.0;
}

.site-logo-right-full img {
    position: absolute;
    left: 75%;
    top: -25px;
    width: auto;
    height: 80px;
    z-index: -1;
}

.site-logo-right img {
    position: absolute;
    left: 75%;
    top: 3px;
    width: auto;
    height: 80px;
    z-index: -1;
    opacity: 0.4;
    -webkit-filter: brightness(95%) contrast(60%) grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: brightness(95%) contrast(60%) grayscale(60%);
}
.site-logo-center-full {
    display:block;
    padding: 0px;
}

.site-logo-center-full img {
    position: absolute;
    left: 46%;
    top: -100px;
    width: auto;
    height: 280px;

}

.home {
    float: left;
    text-decoration: none;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;

}

a.home:hover {
    background-color: #BBBBBB;
}

img.home-icon:hover {
    filter: brightness(0);
}

.ddg {
    font-family: 'Tahoma', 'Geneva', sans-serif;
    font-size: 90%;
    line-height: 100%;
}

.search {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    color: #000;
    min-height: 28px;
    max-width: 650px;
    /*margin-right: auto;
    margin-left: auto;*/
    float:right;
    text-align: center;
}
.search-wrapper {
  background-color: #EEEEEE;

}

a.chapter-link {
    color: #095AD3;
    text-align: left;
}

.page-content-wrapper {
    background-color: #fff;
    background-image: url("/assets/img/beige_background.png");
    background-repeat: repeat;
    overflow: visible;
    padding-bottom: 10px;
}



.note {
    font-size: 88%;
    line-height: 160%;
    padding-left: 22px ;
}

.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
    text-align: left;
}



.author-block {
    font-size:80%;
    line-height: 140%;
    text-align:center;
}

/* Prettier editor buttons */

.wpedit button {
    height: 26px !important;
    padding: 0em 1em !important;
    background-color: #e0e0e0 !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    border-radius: 4px;
    border: 1px solid rgb(204,204,204) !important;
    font-size: 12px !important;
}

.wpedit button:hover {
    background-color: #d0d0d0;
}

.wpedit button:active {
    background-image: none;
}


a.ref {
    text-decoration: none;
    color: #000;
}

a.ref:visited:hover {
    color: rgb(85, 26, 139);
}

a.ref:hover {
    color: rgb(0, 0, 238);
    text-decoration: underline;
}

.MathJax_Preview {
    color: #888
}

.math_finished .MathJax_Preview {
    display: none
}


ol li {
    list-style-type: decimal;
}

ol li ol li {
    list-style-type: decimal;
}

.nextLinks {
    font-size: 80%;
    text-shadow: 2px 2px #000000;
    color: #bbb;
    float:right;
    width: 280px;
    text-align: right;
    max-width: 200px;
    min-width: 80px;
}
.prevLinks {
    font-size: 80%;
    color: #bbb;
    text-shadow: 2px 2px #000000;
    float:left;
    text-align: left;
    max-width: 200px;
    min-width: 80px;
}

.navLinks {
    padding-right: 10px;
    padding-left: 10px;
}

.footer-nav {
        padding-right: 15px;
        padding-left: 15px;
        
}

.highlighter-rouge {
    background-color: #EEEEEE;
}


.buttonText {
    border-radius: 4px;
    border: 1px solid rgb(204,204,204) !important;
    font-family: Tahoma, 'Arial', serif;
    color: #000;
    font-size:80%;
    background-color: #e0e0e0 !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
}

table {
    text-align:left;
    font-size: 88%;

}

th {
    padding-left: 2px;
    padding-right: 8px;
    border-bottom: thin solid #999999;
}

td {
    padding-left: 2px;
    padding-right: 8px
}


header {
    padding-top: 5px; 
    padding-bottom: 30px;
    color: #bbb;
    border-style: solid;
    border-bottom: medium solid #FFFF00;
    border-top: none;
    border-right: none;
    border-left: none;
    min-height : 50px;
    max-height : 65px;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    color: #bbb;
}


footer {
    /*font-size: 80%;*/
    text-align: center;
}

header a, footer a {
    text-decoration: none;
    color: #bbbbbb;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

#textsizer-classnames
{
   margin-bottom: 6px;
   float:left;
   font-size: 80%;
   color: #bbbbbb;
   padding-left: 10px;
   padding-top: 5px;
}

#textsizer-classnames p
   {
      display: inline;
   }

ul.textresizer
{
   list-style: none;
   display: inline;
   margin: 0px;
   padding: 0px;
}
   ul.textresizer li
   {
      display: inline;
      margin: 0px;
      margin-right: 4px;
      padding: 0px;
   }
 
   ul.textresizer a
   {
      border: solid 1px #bbbbbb;
      padding: 1px 7px 1px 7px;
      /*font-weight: bold; */
      text-decoration: none;
      color: #bbbbbb;
   }
     
   ul.textresizer a:hover
   {
      background: #e5e5e5;
      border: solid 1px #777777;
      color: #777777;
         
   }
 
   ul.textresizer .small-text
   {
      font-size: 13px;
   }
    
   ul.textresizer .medium-text
   {
      font-size: 14px;
   }
    
   ul.textresizer .large-text
   {
      font-size: 16px;
   }
   ul.textresizer .larger-text
   {
      font-size: 18px;
   }

 
   ul.textresizer a.textresizer-active
   {
      border: solid 1px #220033;
      background: #FFFFBB;
      color: #777777;
   }


#maincontent, #maincontent2 {
    line-height: 160%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 32px;
    padding-bottom: 25px;
    background-color: #fff;
    color: #000;
    min-height: 500px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
    text-align: justify;
    box-shadow: 0px 5px 15px 0px #999999;
    -webkit-box-shadow: 0px 5px 15px 0px #999999;
    -moz-box-shadow: 0px 5px 15px 0px #999999;
}


#maincontent.small-text, #maincontent2.small-text
   {
      font-size: 13px;
   }

#maincontent.small-text img.resize, #maincontent2.small-text img.resize
   {
      width: 55% !important;
      height: auto;
   }

    
#maincontent.medium-text, #maincontent2.medium-text
   {
      font-size: 14px;
   }
#maincontent.medium-text img.resize, #maincontent2.medium-text img.resize
   {
      width: 77% !important;
      height: auto;
   }
    
#maincontent.large-text, #maincontent2.large-text
   {
      font-size: 16px;
   }

#maincontent.large-text img.resize, #maincontent2.large-text img.resize
   {
      width: 88% !important;
      height: auto;
   }

#maincontent.larger-text, #maincontent2.larger-text
   {
      font-size: 18px;
   }

#maincontent.larger-text img.resize, #maincontent2.larger-text img.resize
   {
      width: 100% !important;
      height: auto;
   }


   /* Make errors less jarring */

#maincontent .wpedit .result pre.error{
    color: red;
    background-color: #fff;
}

/* Decrease line-height a bit, add padding to code and result box */

#maincontent .CodeMirror-lines, #maincontent .wpedit .result {
    padding: 5px;
    line-height: 18px;
}

/*

.CodeMirror.cm-s-p5-widget {
   font-size: 80%;
}

*/



#maincontent .wpedit .result pre {
    font-size: 12px;
    margin: 5px;
}

#maincontent > p > img, #maincontent2 > p > img{
    display: block;
    margin: auto;
    padding: 20px;
}

/* Increase max-height of editor so that we can show bigger gridworlds */

#maincontent .wpedit .result {
    max-height: 1200px;
}
 

