html {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    color: #fff;
    background-color: #203;/*#333333;*/
}

@media screen {
    html {
        font-family: Merriweather, Georgia, 'Times New Roman', serif;
        color: #fff;
        background-color: #203;/*#333333;*/
        }
    .page-break	{ display: none; }
}

@media screen and (max-device-width: 480px) {
   .katex { font-size: 15px !important; }
}


@media print {

    body {
        background: white;
        font-size: 12px;
        font-family: Garamond, 'Times New Roman', serif;
    }
    
    #menu {
        display: none;
    }
    
    #wrapper,
    
    #content {
        width: auto; margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
        color: black; 
        background: transparent;
        
    }
    .page-break	{ display: block; page-break-before: always; }
    .site-header {
        display: none;
    }
    .site-title {
        display: none;
    }
    .home {
        display: none;
    }
    header{
        display: none;
    }
    img.resize{
        width:50% !important;
        height:auto;
        page-break-inside: avoid;
    }
    img{
        width:45% !important;
        height:auto;
        page-break-inside: avoid;
    }
    .katex { font-size: 12px !important; }
    h1 {
        font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 160%;
        color: #444;
        margin: 1em 0 1.5em 0;
        line-height: 1.5;
        text-align: left;
    }
    
    h2 {
        font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
        font-size: 140%;
        letter-spacing: 1px;
        margin: 1.5em 0 1em 0;
        text-align: left;
    }
    
    h3 {font-family: 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
        font-size: 110%;
            font-weight: lighter;
        margin: 1.5em 0 1em 0;
        /*font-style: italic;*/
        text-align: left;
    }
    
    .wpedit button {
        display:none;
    }
    
    .wpedit {
        font-size : 10px;
    }
    .footer img {
        width : 50px;
        height : auto;
    }

    .footer-nav {
        display:none;
        
    }
}

h1 {
    font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    letter-spacing: -0.8px;
    font-weight: bold;
    font-size: 160%;
    color: #444;
    margin: 1em 0 1.5em 0;
    line-height: 1.5;
    text-align: center;
}

h2 {
    font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    letter-spacing: -0.4px;
    font-size: 140%;
    margin: 1.5em 0 1em 0;
    text-align: left;
}

h3 {font-family: 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 110%;
    margin: 1.5em 0 1em 0;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
}


.highlight {
    font-size: 80%;
}

.site-title {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
    display: block;
    font-size: 130%; /*120%;*/
    font-weight: bold;
    color: #EEEEBB;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 5;
}


.meritology-title {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
    display: block;
    font-size: 130%; /*120%;*/
    font-weight: bold;
    color: #EEEEBB;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 5;
    margin: auto;
    max-height: 50px;
    max-width: 650px;
    vertical-align: middle;
}

.meritology-title img {
    opacity: 100%;
    width: 15%;
    height: 15%;
    padding: 0px;
    max-height: 100px;
    display: inline-block;
    vertical-align: middle;
    
}

.meritology {
    font-family: 'Copperplate', 'Copperplate Gothic Light', fantasy;
    font-size: 140%;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
    color : #FFF;
    display: inline-block;
}

a.site-title:hover {
    text-decoration: underline
}


.site-header {
    opacity: 1.0;
}

.site-logo-right-full img {
    position: absolute;
    left: 75%;
    top: -25px;
    width: auto;
    height: 80px;
    z-index: -1;
}

.site-logo-right img {
    position: absolute;
    left: 75%;
    top: 3px;
    width: auto;
    height: 80px;
    z-index: -1;
    opacity: 0.5;
    -webkit-filter: brightness(160%) contrast(70%) grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(160%) contrast(70%) grayscale(100%);
}
.site-logo-center-full {
    display:block;
    padding: 0px;
}

.site-logo-center-full img {
    position: absolute;
    left: 46%;
    top: -100px;
    width: auto;
    height: 280px;

}

.home {
    float: left;
    text-decoration: none;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;

}

a.home:hover {
    background-color: #FF0;
}

img.home-icon:hover {
    filter: brightness(0);
}

.search {
    line-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    min-height: 40px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.search-wrapper {
  background-color: #EEEEEE;

}



a.chapter-link {
    color: #095AD3;
    text-align: left;
}

.page-content-wrapper {
    background-color: #fff;
    overflow: visible;
}

.page-content {
    line-height: 160%;
    padding: 25px;
    background-color: #fff;
    color: #000;
    min-height: 500px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
    text-align: justify;
}

.note {
    font-size: 80%;
    line-height: 160%;
    padding-left: 22px ;
}

.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
    text-align: left;
}

/* Increase max-height of editor so that we can show bigger gridworlds */

.page-content .wpedit .result {
    max-height: 1200px;
}

.author-block {
    font-size:80%;
    line-height: 140%;
    text-align:center;
}

/* Prettier editor buttons */

.wpedit button {
    height: 26px !important;
    padding: 0em 1em !important;
    background-color: #e0e0e0 !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    border-radius: 4px;
    border: 1px solid rgb(204,204,204) !important;
    font-size: 12px !important;
}

.wpedit button:hover {
    background-color: #d0d0d0;
}

.wpedit button:active {
    background-image: none;
}

/* Make errors less jarring */

.page-content .wpedit .result pre.error {
    color: red;
    background-color: #fff;
}

/* Decrease line-height a bit, add padding to code and result box */

.page-content .CodeMirror-lines, .page-content .wpedit .result {
    padding: 5px;
    line-height: 18px;
}


.page-content .wpedit .result pre {
    font-size: 12px;
    margin: 5px;
}

.page-content > p > img {
    display: block;
    margin: auto;
    padding: 20px;
}

a.ref {
    text-decoration: none;
    color: #000;
}

a.ref:visited:hover {
    color: rgb(85, 26, 139);
}

a.ref:hover {
    color: rgb(0, 0, 238);
    text-decoration: underline;
}

.MathJax_Preview {
    color: #888
}

.math_finished .MathJax_Preview {
    display: none
}

/*

ol li {
    list-style-type: upper-roman
}
ol li ol li {
    list-style-type: decimal;
}
 */
ol li {
    list-style-type: decimal;
}

ol li ol li {
    list-style-type: decimal;
}

.nextLinks {
    font-size: 80%;
    color: #bbb;
    float:right;
    width: 280px;
    text-align: right;
    max-width: 200px;
    min-width: 80px;
}
.prevLinks {
    font-size: 80%;
    color: #bbb;
    float:left;
    text-align: left;
    max-width: 200px;
    min-width: 80px;*/
}

.navLinks {
    padding-right: 10px;
    padding-left: 10px;
}

.footer-nav {
        padding-right: 15px;
        padding-left: 15px;
        
}

.highlighter-rouge {
    background-color: #EEEEEE;
}


.buttonText {
    border-radius: 4px;
    border: 1px solid rgb(204,204,204) !important;
    font-family: Tahoma, 'Arial', serif;
    color: #000;
    font-size:80%;
    background-color: #e0e0e0 !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
}


header {
    padding-top: 5px; 
    padding-bottom: 30px;
    color: #bbb;
    border-style: solid;
    border-bottom: medium solid #FFFF00;
    min-height : 30px;
    max-height : 150px;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    color: #bbb;
}


footer {
    /*font-size: 80%;*/
    text-align: center;
}

header a, footer a {
    text-decoration: none;
    color: #bbb;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}
