<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>


  {% include head.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.min.js"></script>
    <script src="{{ "/assets/js/jquery.textresizer.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
   $(function () {
      $("#textsizer-classnames a").textresizer({
         target: "#maincontent",
         type: "cssClass",
         sizes: [ 
            "small-text", 
            "medium-text", 
            "large-text"
         ],
         selectedIndex: 1
      });
   });
</script>

  <body>

   {% include header.html %}
  
    <div class="search-wrapper">
       <div id="textsizer-classnames">
        <p>Font:</p>
        <ul class="textresizer">
            <li class="control"><a href="#nogo" class="small-text" title="Small">S</a></li>
            <li class="control"><a href="#nogo" class="medium-text" title="Medium">M</a></li>
            <li class="control"><a href="#nogo" class="large-text" title="Large">L</a></li>
        </ul>
      </div>
       <div class=search>
        <div style="margin:auto;width:100%;">
        <form class="ddg" name="x" action="//duckduckgo.com/">
            <input type="hidden" value="library.meritology.com" name="sites"></input>
            <input type="hidden" value="1" name="kh"></input>
            <input type="hidden" value="1" name="kn"></input>
            <input type="hidden" value="1" name="kac"></input>
            <input type="search" placeholder="Search" name="q"></input>
            <button class="button" type="submit">GO</button>
        </form>
      </div>
      </div>
    </div>
    
    
    <div class="page-content-wrapper">
      <div id="maincontent">
        {{ content }}
      </div>
         
    </div>

    {% include footer.html %}

  </body>

</html>
